.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.button {
    background-color: rgb(87, 143, 101);
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    position: relative;
    cursor: pointer;
    margin-top: 25px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
}

.button i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: rgb(30, 95, 45);
    transition: all 0.2s ease;
}

.button span {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: rgb(30, 95, 45);
    transition: all 0.2s ease;
}

/* make the button change size depending on the window size */
.buttons-container > .button {
    width: calc(50% - 10px);
}

@media only screen and (max-width: 1200px) {
    .buttons-container > .button {
        width: 80%;
    }

    .button:hover span {
        transition: all 0.2s ease;
        opacity: 1;
        color: rgb(0, 100, 23);
        left: 60%;
    }
    
    .button:hover i {
        left: 35%;
        color: rgb(0, 100, 23);
        transition: all 0.2s ease;
    }
}

@media only screen and (min-width: 1200px) {
    .button:hover span {
        transition: all 0.2s ease;
        opacity: 1;
        color: rgb(0, 100, 23);
        left: 55%;
    }

    .button:hover i {
        left: 40%;
        color: rgb(0, 100, 23);
        transition: all 0.2s ease;
    }
}

/* add an external shadow when hovering the .button */
.button:hover {
    transition: all 0.2s ease;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}