.contacts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  /* background-color: red; */
}

.contacts .contact {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: #8eff8a;
  color: #002000;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: .2s;
}

.contacts .contact:hover {
  background-color: #002000;
  border-radius: 1rem;
  color: #8eff8a;
}