.expanded {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;

    height: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
}

.hidden {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;

    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    display: none;
}

.hidden::before {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;

    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    display: none;
}

#twitch-embed {
    border-radius: 30px;
    width: 90%;
    height: 90%;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 50%;
    z-index: 1;
}
