.expanded {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;

    height: 500px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
}

.hidden {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;

    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    display: none;
}

.hidden::before {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;

    justify-content: center;
    text-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    display: none;
}

#twitch-embed {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 50%;
}
