.barrelroll {
    animation: barrelroll 1s linear;
}
@keyframes barrelroll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.zoomies {
    animation: zoomies 0.8s linear infinite;
}
@keyframes zoomies {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(3);
    }
    90% {
        transform: scale(1);
    }
}

.gundiv {
    cursor: pointer;
    margin-top: 100px;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gundiv:hover {
    opacity: 1;
    transition: all 0.1s ease-in-out;
}

.gun {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gunspan {
    transition: all 0.1s ease-in-out;
    color: black;
}