.project {
  margin: 1rem auto;
  background-color: #518b51;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.project .image img {
  border-radius: 1rem;
  margin: 0 1rem;
}

.project .info .buttons {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
}

.project .info .buttons button {
  margin: 0 2rem 0 0;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #8eff8a;
  color: #002000;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  font-weight: bold;
}

.project .info .buttons button:hover {
  background-color: #002000;
  color: #8eff8a;
}

.project .info .buttons button:disabled {
  cursor: not-allowed;
  background-color: #002000;
  color: #335a32;
}

@media screen and (max-width: 930px) {
  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project .info .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
  }

  .project .info .buttons button {
    margin: 0 0 1rem 0;
  }
}