<div>I'm Antonio, a fullstack developer and Cybersecurity expert that loves new challenges</div>
<div>I'm currently working as a Cybersecurity expert at Accentures, specializing in Identity Governance and Access management.</div>
<div>My main programming languages are <u>Python</u> (🤮), <u>JavaScript</u> (👍), and <u>Java</u> (😬), but I'm always looking to learn new languages and technologies. I've worked a while with <u>Lua</u> (😕) making mods for games (Specifically GTA5 and Roblox), I know how to SQL and worked <b>A LOT</b> with Linux. I know how to do basic styling for websites, ONLY basic since I'm not a lunatic and I don't hate myself.</div>
<div>Listed down below are some of the project I made by myself (Not really since Echo is more of a group project).</div>
<div data-secret="if you are reading this, you are a nerd 😇"><br></div>
<div>My main coding experience is working with JavaScript web frameworks, specifically:</div>
<ul>
    <li>React</li>
    <li>Vue</li>
    <li>JQuery <span class="little">more of a utility TBH</span></li>
</ul>
<div data-secret="Yes, I'm wrapping br without closing them in div... something wrong with it??? I don't care 🤪"><br></div>
<div>I love working in the backend of apps, I think it's more challenging for me, so I usually do that. I don't mind simple frontend, but don't expect magic transitions and stuff like that.</div>
<div>So to wrap up this about section, I hope that you like what I do and maybe want to offer me a lot of money to work for you!</div>
<div>Thanks for reading! <span class="little">if you don't like the humor in this website, please don't be mad. Just trying to ease the reading of this wall of text with some jokes, nobody cares about this stuff, but jokes makes it easyer to read.</span></div>