<link rel="stylesheet" href="css/contacts.css">

<div class="contacts">
    <div class="contact" data-url="mailto:antonioantonelli7@gmail.com" data-blank="false">
        <i class="fas fa-envelope"></i>
    </div>

    <div class="contact" data-url="https://github.com/zThundy" data-blank="true">
        <i class="fab fa-github"></i>
    </div>

    <div class="contact" data-url="https://www.linkedin.com/in/antonio-a-5803a0136/" data-blank="true">
        <i class="fab fa-linkedin"></i>
    </div>
</div>